/* Memorama style sheets */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);

:root {
    --card-width: 90px;
    --card-height: 90px;

    --image-width: 90px;
    --image-height: 90px;

    --transition-delay: 125ms;

    --default-color: black;
    --default-bg-color: white;

    --card-shadow-color: #ccc;
    --card-shadow-radius: 2px;
}

.dark-theme {
    --default-color: white;
    --default-bg-color: black;

    --card-shadow-color: none;
    --card-shadow-radius: none;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: var(--default-color);
    background-color: var(--default-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER AND MENUS STYLES */

header {
    max-width: 512px;
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid gray;
}

header button {
    border: none;
    color: var(--default-color);
    background-color: var(--default-bg-color);
    cursor: pointer;
    padding: 3px;
}

main {
    flex: content;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER STYLES */

footer {
    display: none;
    font-size: small;
    max-width: 512px;
    width: 100%;
    margin: 0 auto;
    color: gray;
    height: fit-content;
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid gray;
}

@media (min-width: 390px) {
    body {
        justify-content: center;
    }
    footer {
        display: block;
    }
}

/* GAME STYLES AND TRANSITIONS */

#board-container {
    max-width: 390px;
    width: 100%;
    display: block;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    line-height: 0px;
}
@media (min-width: 768px) and (orientation: landscape) {
    #board-container {
        min-width: 768px;
    }
}
@media (max-width: 390px) {
    body {
        min-width: 390px;
    }
}

.card-holder {
    width: var(--card-width);
    height: var(--card-height);
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 2px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 2px;
    border: none;
    background-image: url(./img/back-montecarlo.png);
    box-shadow: 1px 1px var(--card-shadow-radius) var(--card-shadow-radius) var(--card-shadow-color);
    transition: transform var(--transition-delay);
}
.card.flip {
    transform: rotateX(-90deg) scale(1.2);
}
.card.open {
    border: none;
    background: url(./img/set-montecarlo.png);
}
.card.taken {
    transform: rotateX(-90deg) scale(1.5);
}
.card.hidden {
    display: none;
}

/* Adjust some styling for modal dialogs */

.fade {
    font-family: "Poppins", sans-serif;
}
.modal-dialog {
    color: var(--default-color) !important;
    background-color: var(--default-bg-color) !important;
    border: 1px solid var(--default-color) !important;
    width: 400px;
}
.modal-dialog p,
.modal-dialog h5 {
    margin-bottom: 1em;
}
.modal-header, .modal-body, .modal-footer {
    color: inherit !important;
    background-color: inherit !important;
}
.sample {
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 2px;
}

/* Some styling for stats dialog */
.modal-body * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.modal-body h5 {
    text-transform: uppercase;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#stats-table {
    width: fit-content;
    margin: 0 auto 1em auto;
}
#stats-table td {
    width: 1em;
    text-align: center;
    vertical-align: top;
    padding: 0 8px;
}
#stats-table td.number {
    font-size: 2.5em;
    font-weight: 300;
}
#stats-table td.label {
    font-size: 12px;
    font-weight: 300;
}
#stats-graph {
    width: 100%;
}
#stats-graph .bar-outer {
    width: 100%;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}
#stats-graph .bar-outer span {
    width: 1em;
    text-align: end;
    margin-right: 4px;
}
#stats-graph .bar-inner {
    min-width: 19px;
    line-height: 24px;
    color: var(--guessed-color);
    background-color: var(--absent-bg-color);
    text-align: right;
    padding: 0px 4px;
}
#stats-graph .highlight {
    color: var(--guessed-color);
    background-color: var(--correct-bg-color);
}

/* Styling for settings dialog */
.setting {
    border-bottom: 1px solid #555;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.setting.vertical {
    flex-direction: column;
}
.setting .title {
    color: var(--default-color);
    display: block;
    font-size: 18px;
}
.setting .description {
    float: left;
    color: var(--default-color);
    filter: brightness(0.5);
    display: block;
    font-size: 12px;
}
.setting .switch {
    float: right;
    background-color: #555;
    height: 20px;
    width: 32px;
    padding: 2px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.setting .switch[checked] {
    background-color: #555;
}
.setting .switch .knob {
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 2px;
    right: auto;
    border-radius: 8px;
    background-color: white;
    transition: all 250ms;
    pointer-events: none;
}
.setting .switch[checked] .knob {
    right: 2px;
    left: auto;
}
.image-select {
    display: block;
    margin-top: 10px;
}
.image-select .image-option {
    max-width: 90px;
    max-height: 90px;
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
}
.image-select .image-option[selected] {
    background-color: #555;
    /* border: 1px solid white; */
}
/* End of code. */